:root {
    --primary-color: rgba(13, 110, 139, 0.75);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --menu-speed: 0.75s;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #F0FFFF;
    /*background-image: url('Images/work-desk.jpg');*/
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    line-height: 1.25;
}

a {
    font-size: 16px;
    font-family: 'Julius Sans One', sans-serif;
}

a:hover {
    color: #48D1CC;
  }

.title {
    color: #000000;
    font-family: 'Julius Sans One', sans-serif;
    text-align: left;
    font-size: 28px;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 2px;
    padding-right: 2px;
}

.title > h2 {
    font-size: 26px;
    line-height: 25px;
}

.bioTitle {
    font-family: 'Julius Sans One', sans-serif;
    color: #191970;
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    margin-top: 80px;
}

.bioParaOne, .bioParaTwo {
    font-family: 'Crimson Text', serif;
    color: #000000;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 20px;
    line-height: 30px;
}


#projectOne{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projectTwo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projTitle {
    font-family: 'Julius Sans One', sans-serif;
    color: #191970;
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    margin-top: 100px;
}

.projName{
    font-family: 'Julius Sans One', sans-serif;
    color: #000000;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
    font-size: 25px;
}

#hockeyQuizApp {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 250px;
    padding-left: 2px;
    padding-right: 2px;
}

#metalDiscoveryApp {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 250px;
    padding-left: 2px;
    padding-right: 2px;
}

.links {
    color: #4682B4;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    font-size: 20px;
}

.techDescrip {
    font-family: 'Julius Sans One', sans-serif;
    color: #708090;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 25px;
    text-align: center;
}

.projDescrip {
    font-family: 'Crimson Text', serif;
    color: #000000;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 22px;
    line-height: 30px;
}

.contact{
    background-color: #778899;
    font-size: 20px;
    text-decoration: underline;
    margin-top: 200px;
    color: #000000;
    font-family: 'Julius Sans One', sans-serif;
    text-align: left;
    padding-left: 2px;
    padding-right: 2px;
}

.info {
    font-family: 'Julius Sans One', sans-serif;
    color: #191970;
    text-align: center;
    font-size: 20px;
}

.social {
    height: 50px;
    width: 55px;
    margin-right: 20px;
    background-color: #F5FFFA;
    margin-top: -20px;
    text-decoration: none;
}



@media only screen and (max-width: 767px) {

  body{
      /*background-image: url('Images/work-desk.jpg');*/
      background-position: center left;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      line-height: 1.5;
  }

  .title {
      color: #000000;
      font-family: 'Julius Sans One', sans-serif;
      text-align: center;
      font-size: 26px;
  }

  .title > h2 {
      font-size: 20px;
      line-height: 24px;
  }

  .bioTitle {
      font-family: 'Julius Sans One', sans-serif;
      color: #191970;
      text-align: center;
      font-size: 24px;
      text-decoration: underline;
      margin-top: 100px;
  }

  .bioParaOne, .bioParaTwo {
      font-family: 'Crimson Text', serif;
      color: #000000;
      margin-left: 10px;
      margin-right: 10px;
      padding-left: 2px;
      padding-right: 2px;
      font-size: 20px;
      line-height: 30px;
  }

  .projTitle {
      font-family: 'Julius Sans One', sans-serif;
      color: #000000;
      text-align: center;
      font-size: 24px;
      text-decoration: underline;
      margin-top: 100px;
  }

  #projectOne{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  #projectTwo{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .projName{
      font-family: 'Julius Sans One', sans-serif;
      color: #000000;
      margin-left: 10px;
      margin-right: 10px;
      padding-left: 2px;
      padding-right: 2px;
      font-size: 20px;
  }

  #hockeyQuizApp {
      width: 300px;
      height: 150px;
      margin-right: auto;
      margin-left: auto;
      padding-left: 2px;
      padding-right: 2px;
  }

  #metalDiscoveryApp {
      width: 300px;
      height: 150px;
      margin-right: auto;
      margin-left: auto;
      padding-left: 2px;
      padding-right: 2px;
  }

  .links{
      color: #66FCF1;
      margin-left: 70px;
      margin-right: 30px;
      text-align: center;
      font-size: 18px;
  }


  .techDescrip {
      font-family: 'Crimson Text', serif;
      color: #66FCF1;
      margin-left: 10px;
      margin-right: 10px;
      padding-left: 2px;
      padding-right: 2px;
      font-size: 20px;
  }

  .projDescrip {
      font-family: 'Crimson Text', serif;
      color: #000000;
      margin-left: 10px;
      margin-right: 10px;
      padding-left: 2px;
      padding-right: 2px;
      font-size: 20px;
      line-height: 30px;
  }

  .contact{
      font-family: 'Julius Sans One', sans-serif;
      color: #66FCF1;
      text-align: center;
      font-size: 22px;
      text-decoration: underline;
      margin-top: 200px;
  }

  .info {
      font-family: 'Julius Sans One', sans-serif;
      color: #66FCF1;
      text-align: center;
      font-size: 18px;
  }

  .social {
      height: 50px;
      width: 55px;
      margin-right: 20px;
      background-color: #45A29E;
      margin-top: -20px;
      text-decoration: none;
  }


}
